@model CentralConfiguration.Cms.Data.Entity.Configuration
@{
    ViewBag.Title = "Edit Configuration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5 class="pb-3"><i class="fa fa-file-o"></i> @ViewBag.Title</h5>

<form method="post">

    <div class="form-group row">
        <label class="col-form-label col-2">Application Name</label>
        <div class="col-10">
            <input type="text" class="form-control" placeholder="Application Name" name="ApplicationName" value="@Model.ApplicationName" required />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-2">Key</label>
        <div class="col-10">
            <input type="text" class="form-control" placeholder="Key" name="Key" value="@Model.Key" required />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-2">Type</label>
        <div class="col-2">
            <select class="custom-select" id="ddlType" name="Type" required>
                <option value="">Select Type</option>
                <option value="int" @if (Model.Type == "int") { <text> selected</text>}>Integer</option>
                <option value="string" @if (Model.Type == "string") { <text> selected</text>}>String</option>
                <option value="bool" @if (Model.Type == "bool") { <text> selected</text>}>Boolean</option>
            </select>
        </div>
        <label class="col-form-label col-1">Value</label>
        <div class="col-7">
            <select class="custom-select" id="slcValue" name="Value" required>
                <option value="">Select Bool Value</option>
                <option value="true"
                        @if (Model.Value == "true")
                        {
                            <text> selected</text>}>True</option>
                <option value="false"
                        @if (Model.Value == "false")
                        {
                            <text> selected</text>}>False</option>
            </select>
            <input type="text" class="form-control" id="txtValue" placeholder="Value" name="Value" value="@Model.Value" required />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-2">Status</label>
        <div class="col-10">
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" id="chkIsActive" name="IsActive" value="true" @if (Model.IsActive) { <text> checked</text>}>
                <label class="custom-control-label" for="chkIsActive">Is Active?</label>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="offset-2 col-10">
            <input type="submit" value="Save" class="btn btn-primary pull-right" />
            <input type="hidden" name="Id" value="@Model.Id" />
        </div>
    </div>

</form>

@section CustomScript {
    <script>initDdl();</script>
}




